.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metrics-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
  grid-template-areas:
    "a b c"
    "d e f";
}

.metrics-selection input[type='checkbox'] {
  margin-right: 0.5rem;
}

.metrics-item {
  display: flex;
  align-items: center;
}

.metrics-head {
  margin-top: 6rem;
}
